<app-navbar></app-navbar>

<section class="w-100 d-flex justify-content-center">
    <ul class="d-flex justify-content-center flex-wrap text-white gap-3 p-3 w-50 mt-5 rounded " >
        <li class="nav-item"><a class="nav-link" routerLink="/all" routerLinkActive="activated">All</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/salads" routerLinkActive="activated">Salads</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/soups" routerLinkActive="activated">Soups</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/chicken" routerLinkActive="activated">Chicken-Dishes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/beef" routerLinkActive="activated">Beef-Dishes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/seafood" routerLinkActive="activated">Seafood-Dishes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/vegetable" routerLinkActive="activated">Vegetable-Dishes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink ="/bits" routerLinkActive="activated">Bits&Bites</a></li>
        <li class="nav-item"><a class="nav-link" routerLink ="/sides" routerLinkActive="activated">On-The-Side</a></li>
    </ul>
    </section>