<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <footer class="text-center text-lg-start" style="background-color: #db6930;">
      <div class="container d-flex justify-content-center py-5">
        <a href="https://www.facebook.com/nqvaraia" type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/PlayCosmo" type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.instagram.com/nodarkvaraia/" type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://x.com/KvaraiaNodar" type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://github.com/PlayCosmo">PlayCosmo</a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->

